SECRET_KEY=miclavesecreta2000
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=60

RATE_LIMIT_AUTH_PER_MIN=5/minute
RATE_LIMIT_API_PER_MIN=60/minute
RATE_LIMIT_BURST=10/second

CORS_ORIGINS=http://localhost:5173